@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin: 0;
}
.main-section{
    width: 215px;
    height: 300px;
    position: relative;
    /* padding-right: 0.5em;
    padding-left: 0.5em; */
    border-radius: 15px;
    overflow: hidden;
}
.main-section img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* vertical-align: bottom; */
    background-color: black;
}
.photo-overlay{
    width: 215px;
    height: 300px;
    object-fit: fill;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s linear;
}
.save-btn {
    background-color: red;
    border-radius: 20px;
    padding: 0.5em;
    position: absolute;
    top: -2.5em;
    right: 1em;
    color: white;
    transition: all 0.4s linear;
    cursor: pointer;
}
.btm-icon-wrapper{
    position: absolute;
    bottom: -3.5em;
    left:0.5em;
    right:0.5em;
    display: flex;
    align-items: center;
    transition: all 0.4s linear;
}
.width-wrap{
    width: 50%;
    max-width: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.width-wrap2{
    width: 25%;
    max-width: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.img-info-tab{
    display: flex;
    justify-items: center;
    background-color: #eaeaeb;
    border-radius: 20px;
    padding: 8px 10px;
    cursor: pointer;
}
.img-info-tab i {
    margin-right: 4px;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}
.upload-icon{
    border-radius: 50%;
    background-color: #eaeaeb;
    /* opacity: 0.6; */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.upload-icon i {
    position: absolute;
}
.main-section:hover .save-btn{
    transform:translateY(3.5em);
}
.main-section:hover .btm-icon-wrapper{
    transform:translateY(-4.5em);
}
.main-section:hover .photo-overlay {
    opacity: 1;
}



